body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header {
    background-color:aqua;
    color:black;
    padding: 1em 0;
  }
  
 header ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
 header ul li {
    display: inline;
    margin-right: 20px;
  }
  
 header ul li a {
    color:darkred;
    text-decoration: none;
  }

  .search-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #search-input {
    padding: 8px;
    width: 300px;
    border: 1px solid :chartreuse;
    border-radius: 5px;
  }
  
  #search-form button {
    padding: 8px 20px;
    background-color: #007bff;
    color:black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #search-form button:hover {
    background-color: #0056b3;
  }
  
  .event-listing{
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
}
.event-card img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}
.event-card img {
    width: 500px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}
.event-card img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}
.event-card img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}
.book-listing {
    padding: 20px 0;
}
  .event-card {
    background-color:blanchedalmond;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .event-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .event-details {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  @media screen and (max-width: 768px) {
    .event-card {
      width: 100%;
    }
  }
  
  .add-event-form {
    padding: 20px 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid: bisque 3px;;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  button {
    background-color: #007bff;
    color:black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  footer {
    background-color:aqua;
    color:beige;
    padding: 10
    
    
    5px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }